<div class ='question'>
  <%= question.body %>
  <% question.answers.each do |answer| %>
    <%= erb :'/answers/show', locals: {answer: answer} %>
  <% end %>
  <a href='#' id='<%= question.id %>'>Edit Question</a>
</div>
