.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

body {
  background-color: rgba(255, 165, 0, 0.2);
}

.survey-questions {
  margin-left: 20px;
  margin-top: 10px;
}

.answers {
  margin-left: 5px;
  margin-bottom: 10px;
}

.submit {
  display: none;
}

.answers input {
  margin-left: 5px;
}