<form class="edit-user-form" action='/user/edit' method='post'>
  <input type="hidden" name="_method" value="put" />
  <input type='string' name='user[name]' placeholder="username"/>
  <input type="email" name="user[email]" placeholder="email" />
  <input type="submit" value="Edit"/>
</form>
