<div>Title: <a href='/surveys/<%=survey.id%>'><%= survey.name %></a></div>
<div>Url: <%= survey.url %></div>
<% if survey.creator %>
<div>Creator: <%= survey.creator.name %></div>
<% end %>
<a href='#'>Stats</a>
