<div class='survey-show'>
  <div><%=survey.name%></div>
  <% survey.questions.each do |question| %>
    <%= erb :'/questions/show', locals: {question: question} %>
  <%end%>
  <div><a href="/surveys/<%= survey.id%>/questions/new" class='new_question'>Create Question</a></div>
</div>