<div class='survey-show'>
  <div class='survey-questions'>
    <div><%=survey.name%></div>
    <% survey.questions.each do |question| %>
      <%= erb :'/questions/show', locals: {question: question} %>
    <%end%>
  </div>
  <div><a href="#" class='new_question' id='<%=survey.id%>'>Create Question</a></div>
</div>