<div class='survey-show'>
  <div class='survey-questions'>
    <div><%=survey.name%></div>
    <% survey.questions.each do |question| %>
      <%= erb :'/questions/take_show', locals: {question: question} %>
    <%end%>
  </div>
</div>