<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/script.js"></script>
  <script src="//www.google.com/jsapi"></script>
  <script src="/js/chartkick.js"></script>
<div class="container-fluid">
<link rel="stylesheet" href="/css/styles.css">
  <title></title>
  <div class="row">



  </div>
</head>
<body>
  <% if session[:user_id] %>
    <div class='row'>
      <div class='col-md-5 col-md-offset-3'>
        <div id='cssmenu'>
        <ul >
           <li id= "nav_bar"class='active'><a href='/user/<%= session[:user_id]%>'>Home</a></li>
           <li><a href='/surveys/new'>New Survey</a></li>
           <li><a href='/surveys'>Surveys</a></li>
           <li><a href='/users'>Users</a></li>
           <li><a href='/logout'>Logout</a>
        </ul>
      </div>
    </div>
  </div>
<% end %>
  <%= yield %>
</body>
</div>

</html>
