<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/script.js"></script>
  <script src="//www.google.com/jsapi"></script>

  <!-- Try to source your libraries remotely wherever possible -->
  <script src="https://raw.githubusercontent.com/ankane/chartkick.js/master/chartkick.js"></script>
<div class="container-fluid">
<link rel="stylesheet" href="/css/styles.css">
  <title></title>
</head>
<body>
  <%= erb :header %>
  <%= yield %>
</body>
</div>

</html>
