<div class="container">
  <div class="row">
  <div class="col-md-5">
    <table class="table table-striped">

    <h3> Questions </h3>
    <h5> Number of Survey responders: <%=submits%><h5>
    </tr>
      <% stats.each do |s|%>
        <h3><%=s[0]%></h3>
          <%s.each_with_index do |ans , i|%>
            <p><%= ans unless i ==0 %> </p>
          <%end%>
        <%end%>
      </table>
    </div>
  </div>
</div>
